@{
    ViewData["Title"] = "Inicio";
}


<h1>Inicio</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing espant. Incidunt asperiores quos praesentium aperiam! Corrupti veniam aspanquam, voluptatem unde magnam ut! Nobis, soluta assumenda consectetur aut aspanas simispanque nulla corporis placeat non! Ratione dolor quidem perspiciatis debitis fugit accusamus? Voluptatibus reprehenderit vero fuga nisi! Asperiores impedit ab officia veritatis assumenda fugit aspanquid consequatur quae nulla repellendus incidunt, vero, totam illum quaerat, sapiente nemo quia rerum neque cupiditate harum laudantium commodi? Sint at voluptatibus ratione recusandae praesentium asperiores quod ea tempora, exercitationem culpa ipsa, est, beatae cupiditate rerum nam ipsam eum repudiandae iste placeat repellat quaerat ullam temporibus delectus sit. Nihil, necessitatibus.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing espant. Minima, pariatur perspiciatis deserunt consequuntur modi aspanquid nihil ipsam reprehenderit laborum exercitationem fugit sunt facere asperiores neque nobis natus saepe eaque aspanas repudiandae voluptas quae omnis! Expspancabo quasi dolorum voluptates dolore repellat ratione magnam sed cumque natus. Praesentium repudiandae ullam quam nihil perspiciatis omnis saepe, incidunt at reiciendis non ducimus aspernatur quisquam tempore. Omnis harum nobis asperiores autem voluptatum corporis iste, dolorum delectus sint temporibus, nihil optio tempore exercitationem consectetur assumenda iusto beatae distinctio eos atque, culpa vel! Ducimus, fugiat molestias sequi deleniti rem tenetur consectetur sint nihil reiciendis ut dolorem doloremque dolore iure repellat iste blanditiis perferendis dolor a eum ab, ipsum ipsam neque fuga eius! Dignissimos est eius ab, dolor quae aperiam id iusto eveniet sequi, quibusdam quasi maiores quisquam?</p>

